<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Meta tags for character set and viewport settings -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Title of the page -->
    <title>Issue tracker</title>

    <!-- Linking stylesheets for styling -->
    <link rel="stylesheet" href="/styles/layout.css" />
    <link rel="stylesheet" href="/styles/home.style.css" />
    <link rel="stylesheet" href="/styles/projectPage.style.css" />
  </head>

  <body>
    <!-- Header section -->
    <nav>
      <!-- Logo and home link -->
      <div class="logo"><a href="/">Issue Tracker</a></div>

      <!-- Navigation buttons or options -->
      <div class="rightNav">
        <button id="newProjectBtn">New Project</button>
      </div>
    </nav>

    <!-- Modal for creating a new project -->
    <div class="modal" id="newProjectModal">
      <div class="modal-content">
        <!-- Close button for the modal -->
        <span class="close" id="closeModal">&times;</span>

        <!-- Heading for the modal -->
        <h1 class="modelMainHeading">Create New Project</h1>

        <!-- Form for creating a new project -->
        <form id="newProjectForm" action="/newProject" method="post">
          <label for="name">Project Name</label>
          <input
            type="text"
            name="name"
            id="name"
            placeholder="Project Name"
            required
          />

          <label for="description">Enter Description</label>
          <textarea
            name="description"
            id="description"
            cols="30"
            rows="5"
            placeholder="Enter Description Here"
            required
          ></textarea>

          <label for="author">Author Name</label>
          <input
            type="text"
            name="author"
            id="author"
            placeholder="Enter Author Name"
            required
          />

          <!-- Submit button for the form -->
          <button type="submit" class="newProjectButton">Submit</button>
        </form>
      </div>
    </div>

    <!-- Content of the page, dynamically filled by other views -->
    <%- body %>

    <!-- Footer section -->

    <!-- Script tag for potential JavaScript functionality -->
    <!-- <script src="/scripts/newIssue.modal.js"></script> -->
  </body>
</html>
